@font-face {
    font-family: quizzie;
    src: url(../media/Denyut-z8q1G.otf);
}

:root {
    --color1: #6547B2;
    --color2: #DC231D;
    --color3: #56B01E;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

a:active {
    text-decoration: none;
    color: unset;
}

#box {
    display: grid;
    place-items: center;
}

#top {
    font-family: quizzie;
    font-size: 6rem;
    text-align: center;
    background-color:darkslateblue;
    border-radius: 0 0 60px 60px;
    padding: 1%;
    width: 50%;
    color: black;
}

#question {
    font-family: quizzie;
    font-size: 4rem;
    text-align: center;
    margin: 7% 5% 0% 5%;
    color: black;
}

#multiChoise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 50px;
    margin: 3% 5% 0% 5%;
    vertical-align: middle;
}

.multiChoise {
    background: var(--color1);
    border-radius: 60px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#openQuestion {
    display: grid;
    text-align: center;
    grid-column-gap: 50px;
    margin: 3% 5% 0% 5%;
}

#openQ {
    border-radius: 60px;
    padding: 1%;
    height: 90px;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    border: var(--color1) solid 1px;
}

#submit {
    width: 80%;
    background-color: #56B01E;
}

#waves {
    fill: var(--color1);
}
#button{
    display: grid;
    place-items: center;
}
#next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --color1);
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

