:root {
    --color1: #6547B2;
    --color2: #DC231D;
    --color3: #56B01E;
}

@font-face {
    font-family: quizzie;
    src: url(../media/Denyut-z8q1G.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: quizzie;
}

body{
    background: linear-gradient(to right, #48CAE4,#90E0EF,#CAF0F8);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.quiz{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80vw;
    max-width: 80%;
    background-color: beige;
    height: m;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.score{
    font-size: large;
    font-weight: bold;
}

#user-score{
    color: #ef9614;
}

#total-score{
    color: #56B01E;
}
#question-text{
    font-size: 2em;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#f27813, .15);
    background: #ef9614;
    border-radius: 4px;
    padding: 10px;
    color: beige;
    margin: 6px;
    cursor: pointer;
}

.btn:hover{
    color: black;
    padding: 15px;
}

.options{
    padding: 10px;
    order: 3;
}
.controls{
    padding: 10px;
    order: 4;
}

.hide{
    display: none;
}

/* header */

#box {
    display: grid;
    place-items: center;
    height: 10vh;
    margin-bottom: 10vh;
}

#top {
    font-family: quizzie;
    font-size: 6rem;
    text-align: center;
    background-color:steelblue;
    border-radius: 0 0 60px 60px;
    padding: 1%;
    width: 50%;
    color: black;
}
a {
    text-decoration: none;
    color: unset;
}

a:active {
    text-decoration: none;
    color: unset;
}
a:hover{
    color: #ef9614;
}
/* footer */

section{
    position: relative;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right, #48CAE4,#90E0EF,#CAF0F8);
    overflow: hidden;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
    background-size: 1600px 198;
}

.wave1{
    animation: animate-wave-1 10s linear infinite; 
    z-index: 1000;
    opacity: 1; 
    animation-delay: 0s;
    bottom: 0;
}

.wave2{
    animation: animate-wave-2 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave3{
    animation: animate-wave-3 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave4{
    animation: animate-wave-4 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px; 
}

@keyframes animate-wave-1{0% {background-position-x: 0;}
    100% {background-position-x: 1600px;}
}

@keyframes animate-wave-2{0% {background-position-x: 0;}
    100% {background-position-x: -1600px;}
}

@keyframes animate-wave-3{0% {background-position-x: 0;}
    100% {background-position-x: 1600px;}
}

@keyframes animate-wave-4{0% {background-position-x: 0;}
    100% {background-position-x: -1600px;}
}